
/**************************************************
 ************* 	LOAD FONT	*********************** 
 **************************************************/
 
 @font-face
{
font-family: Gotham;
src: url(assets/fonts/Gotham-Light.otf);
}
 @font-face
{
font-family: GothamBold;
src: url(assets/fonts/Gotham-Bold.ttf);
}

 
/*			MAIN MENU	 
 **************************************************/

#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  margin: 0;
  padding: 0;
  font-family:GothamBold, Verdana, Tahoma;
  position: relative;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
  color: #fff;
  display: inline-block;
  min-width: 44px;
  text-align: center;
  text-decoration: none;
  text-shadow: -1px -1px #333333;
  #text-shadow: #000 0px 1px 1px;
  font-size: .89em;
}
#cssmenu {
	
	display: table;
	width: 100%;
	border-collapse: collapse;
	border: none;
}
#cssmenu ul {
	background: #f05a28 url(assets/img/nav_bar_orange.jpg) repeat-x left top;
	display: table-row;
	box-shadow: inset 0 1px 0 0 #f05a28;
}
#cssmenu  ul  li {
  float: left;
  display: table-cell; 
}

#cssmenu  ul  li  a {
  box-shadow: inset -1px 0px 0 0px #f05a28;
  -moz-box-shadow: inset -1px 0px 0 0px #f05a28;
  -webkit-box-shadow: inset -1px 0px 0 0px #f05a28;
   background: #f05a28 url(assets/img/nav_bar_orange.jpg) repeat-x left top;
  line-height: 44px;
  padding: 0 27px 0 27px;
  filter: none;
 -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
     -ms-transition: all 500ms ease;
 	  -o-transition: all 500ms ease;
 		 transition: all 500ms ease;
}

#cssmenu  ul  li.current-menu-item a {
  box-shadow: inset 0 0 0 1px #006c8c;
  -moz-box-shadow: inset 0 0 0 1px #006c8c;
  -webkit-box-shadow: inset 0 0 0 1px #006c8c;
  background: #006c8c url(assets/img/nav_bar_blue.jpg) repeat-x left bottom;
}
#cssmenu  ul  li.current-menu-parent a {
  box-shadow: inset 0 0 0 1px #006c8c;
  -moz-box-shadow: inset 0 0 0 1px #006c8c;
  -webkit-box-shadow: inset 0 0 0 1px #006c8c;
  background: #006c8c url(assets/img/nav_bar_blue.jpg) repeat-x left bottom;
}

#cssmenu  ul  li.current-menu-item a:hover {
  box-shadow: inset 0 0 0 1px #006c8c;
  -moz-box-shadow: inset 0 0 0 1px #006c8c;
  -webkit-box-shadow: inset 0 0 0 1px #006c8c;
   background: #006c8c url(assets/img/nav_bar_blue.jpg) repeat-x left bottom;
}
#cssmenu  ul  li a:hover {
	box-shadow: inset 0 0 0 1px #006c8c;
  -moz-box-shadow: inset 0 0 0 1px #006c8c;
  -webkit-box-shadow: inset 0 0 0 1px #006c8c;
  background: #006c8c url(assets/img/nav_bar_blue.jpg) repeat-x left bottom;
}
#cssmenu > ul > li:menu-item-has-children a {
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-left: 1px solid #5d5d5d;
}
#cssmenu .menu-item-has-children:hover ul {
  display: block;
  width: 100%;
  
}
#cssmenu .menu-item-has-children ul {
  display: none;
  position: absolute;
  top: 44px;
  left: -1px;
  min-width: 100%;
    white-space: nowrap;
  
  text-align: center;
  /* IE7 */

}
#cssmenu .menu-item-has-children ul li {
  text-align: center;
  max-width: 100%
}
#cssmenu .menu-item-has-children ul li a {
  border-top: 0 none;
  border-left: 1px solid #5d5d5d;
  line-height: 120%;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center; 
  max-width: 100%;
}

#cssmenu .menu-item-has-children ul li a:hover {
  margin-top:0;	
  max-height:15px;
  text-align: center; 
  line-height: 120%;
}
#cssmenu  .current-menu-item ul li a {
  margin-top:0;	
  max-height:15px;
  text-align: center; 
  line-height: 120%;
}
#cssmenu .current-menu-parent .current-menu-item a {
  margin-top:0;	
  max-height:15px;
  text-align: center; 
  line-height: 120%;
}
#cssmenu .current-menu-parent .current-menu-item  a:hover {
  margin-top:0;	
  max-height:15px;
  text-align: center; 
  line-height: 120%;
}

#cssmenu .menu-item-161 a{
	padding-left:57px;
	padding-right:57px;
}
#cssmenu .menu-item-174 a{
	padding-left:41px;
	padding-right:41px;
}

#cssmenu .menu-item-57 a{
	padding-left:58px;
	padding-right:59px;
}
#cssmenu .menu-item-173 a{
	padding-left:42px;
	padding-right:43px;
}



/*			Misc
 **************************************************/

html *
{
   color: #333;
	font-family: Gotham, Verdana, Tahoma;
}

b, strong {
	font-family: GothamBold;
}
a {
	color: #f05a28;
}
a:hover {
	color: #00a9c8;
	text-decoration: none;
	cursor: auto;
}



.orange {
	color: #f05a28;
}
.white {
	color: #fff;
}

#mar-exp {
	font-size: 1.7em;
	font-weight: 200;
}
.lightblue {
	color: #00a9c8;
}

.darkblue {
	color: #006c8c;
}

.w960 {
	max-width:960px !important;
	min-width:960px !important;
	margin:auto;
}



/*		Top nav bar 
 **************************************************/

.navbar-inverse .container{
	padding-right: 20px;
	font-size: 4em;
}
.navbar-inverse {
	background-color: #101010;
	border-color: #080808;
	max-height:35px;
	max-width: 960px;
	margin: auto;
#	margin-top:-32px;
}

.navbar-inverse .nav > li  {
	padding:3px 0;
}
.navbar-inverse .nav > li > a {
	border-right: 1px dotted #777;
	font-size: .2em !important;
	padding:3px 8px;
}
.navbar-form input {
	margin-top: 0px;
	border-radius: 0px;
}

@media only screen 
and (min-device-width : 480px) {
	.search-form-input {
		max-height: 10px;
	}
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	/* Styles */
	.search-form-input {
		max-height: 10px !important;
	}
}

#search-btn {
	background-image: url(assets/img/searchbutton.jpg);
	background-repeat:no-repeat;
	border: none;
	padding: 0px 3px 0px 12px;
	margin-left: -16px;
}

.header {
	margin: 0 0 90px 0;
	padding:10px 15px;
	display:block;
	position:relative;
}

.nava {
	margin: 0 0 0 -25px;
}	
	
.nava ul {
   display: table; 
   margin: 0 0 0 21px;
}	

.nava > ul > li {
   padding: 12px 24px;
   background-image:url(assets/img/nav_bar_orange.jpg);
   background-repeat:repeat-x;
   border: 1px solid #f05a28;
}

.nava > ul > li:hover{
   background-image:url(assets/img/nav_bar_blue.jpg)
}

.nava ul > li > a {
	color: white;
}
	
.navbar ul > li {
 display: inline;
  
}

.logo {
	background-image:url(assets/img/logo/tc_world_logo_80px.png);
	background-repeat: no-repeat;
	width: 250px;
	height: 80px;
	display:block;
  	text-indent:-9999px;
}
.head-contact {
	float:right;
	padding-right:20px;
}

.head-contact h1{
	font-size:24px;
}
.phone {
	float:right;
	font-size:1.4em;
}


.banner {
	height:260px; 
	background:url(assets/img/banner.jpg) no-repeat; 
	background-size:contain;
	margin-bottom: 20px;
}

#banner-text {
	background-color: rgb(0, 0, 0); 
	background-color: rgba(0, 0, 0, .8); 
	width:340px; 
	height:100%; 
	float:right;
	color:#fff;
	text-align: right;
	background-image:url(assets/img/quotemarks.png);
	background-repeat:no-repeat;
	background-position:left top;
}

.navbar {
	margin-bottom:0px;
}
#banner-text h3{
	color: #FFF;
	font-weight: 500;
	font-size: 25px;
	margin: 20px 20px 10px 0;
	line-height: 1.4;
}

#banner-text p{
	margin-bottom:20px;	
}
#banner-text p > i{
	color:#fff;
	margin: 20px;
	font-weight: 200;
	font-size: 16px;
	margin-bottom:20px;
}

.blue-btn {
	background-image:url(assets/img/applynowbutton1.jpg);
	background-repeat:repeat-x;
	padding:9px;
	margin:20px 0 0 0;
	color:#fff;
	cursor: pointer !important;
}

.apply-btn {
	margin-right:90px;
}
/*
footer {
	background:url(assets/img/footer_translogo.png), url(assets/img/footer_gradient.jpg) ;
	background-position: right top, right top;
	background-repeat: no-repeat, repeat-x;
	padding: 17px 20px 20px 20px;
	color:#fff;
}
*/
footer {
	background:url(assets/img/footer_gradient.jpg) ;
	background-position:  right top;
	background-repeat: repeat-x;
}

footer .footer{
	background:url(assets/img/footer_translogo.png) ;
	background-position: right top;
	background-repeat: no-repeat;
	padding: 17px 20px 20px 30px;
	color:#fff;
}

footer .icon {
	background-repeat: no-repeat;
	display: inline-block;
	text-indent: -9999px;
	width:41px;
	height:40px;
}

.header .icon {
	background-repeat: no-repeat;
	display: inline-block;
	text-indent: -9999px;
	width:26px;
}

.telephone-icon {
	background-image: url(assets/img/telephone.png);
	background-size: 19px;
	-webkit-background-size: 19px;
	-moz-background-size: 19px
}




/*		Footer 
 **************************************************/

footer .fb {
	background-image: url(assets/img/social_icons/facebook_1.png);
}
footer .tw {
	background-image: url(assets/img/social_icons/twitter_1.png);
}
footer .in {
	background-image: url(assets/img/social_icons/linkedin_1.png);
}
footer .fb:hover {
	background-image: url(assets/img/social_icons/facebook_2.png);
}
footer .tw:hover {
	background-image: url(assets/img/social_icons/twitter_2.png);
}
footer .in:hover {
	background-image: url(assets/img/social_icons/linkedin_2.png);
}

footer .middle  > h4 {
	margin-bottom: 20px;	
}
footer .middle {
 	border-right: 1px dotted white; 
	border-left: 1px dotted white;
	padding: 0 20px;
	min-width: 280px;
}
footer h4 {
	font-size: 16px !important;
	font-weight: normal;
}
footer p {
	font-size: 12px !important;
}

footer .copyright {
	margin: 60px 0 0 0;
	font-size: 12px !important;
}

.contactform input {
	width:100%
}
.contactform textarea {
	width:100%
}

.contactform label {
	color: #f054a28;
}

#gallery-1 {
	display:none !important;
}



* html .menu a  {
cursor:hand;
width:66px;
}


.ktweet .img{
	float: left;
	padding: 20px;
}

.ktweet .ktbody{
	margin-top: 16px;
}
.kcontainer  {
	margin-right:-20px;
}
.kcontainer ul {
	list-style-type: none;
	
}
.kcontainer ul li{
	# margin-top:20px;
}

.lightblue-bgd {
	background-color: #e4f4fd;
}

h2 {
	color: #f05a28;
	font-weight:normal;
	font-size:24px;
	border-bottom: 2px dotted #f05a28;
}

#addresses {
	margin-right: -60px;
}




/*		Accordion
 **************************************************/

#accordion {
list-style: none;
margin: 0 0;
padding: 0;
height: 291px;
overflow: hidden;
background: #fff;
border: 1px solid #aaa;
max-width: 674px;

box-shadow: 0px 0px 2px 2px #aaa;
-webkit-box-shadow: 0px 0px 2px 2px #aaa;
-moz-box-shadow: 0px 0px 2px 2px #aaa;

}
 
#accordion li {
float: left;
display: block;
height: 291px;
width: 56px;
padding: 15px 0;
overflow: hidden;
color: #fff;
text-decoration: none;
line-height: 1.5em;
border-left: 1px solid #fff;
margin-left: -1px;
}
 
#accordion li span {
border: none;
border-right: 1px solid #fff;
float: left;
margin: -15px 15px 0 0;
}


#accordion li .body {
	margin-top: -15px;
}
#accordion li .body h2 {
	font-size:18px;
}
#accordion li .body img {
	width:250px;
	margin:0 0 10px 50px;
}
#accordion li .body p {}

#accordion h4 {
	padding-left: 75px !important;
}
#accordion .acc {
	height: 291px;
	width: 56px;
	text-indent:-9999px;
	cursor: pointer;
}
#accordion #acc1 {
	background:#f05a28 url(assets/img/acc/stage1_button.jpg) no-repeat;
}
#accordion #acc2 {
	background:#f05a28 url(assets/img/acc/stage2_button.jpg) no-repeat;
}
#accordion #acc3 {
	background:#f05a28 url(assets/img/acc/stage3_button.jpg) no-repeat;
}
#accordion #acc4 {
	background:#f05a28 url(assets/img/acc/stage4_button.jpg) no-repeat;
}
#accordion #acc5 {
	background:#f05a28 url(assets/img/acc/stage5_button.jpg) no-repeat;
}
#accordion #acc1:hover {
	background:#f05a28 url(assets/img/acc/stage1_button_hover.jpg) no-repeat;
}
#accordion #acc2:hover {
	background:#f05a28 url(assets/img/acc/stage2_button_hover.jpg) no-repeat;
}
#accordion #acc3:hover {
	background:#f05a28 url(assets/img/acc/stage3_button_hover.jpg) no-repeat;
}
#accordion #acc4:hover {
	background:#f05a28 url(assets/img/acc/stage4_button_hover.jpg) no-repeat;
}
#accordion #acc5:hover {
	background:#f05a28 url(assets/img/acc/stage5_button_hover.jpg) no-repeat;
}
#accordion .active #acc1  {
	background:#f05a28 url(assets/img/acc/stage1_button_hover.jpg) no-repeat;
}
#accordion .active #acc2{
	background:#f05a28 url(assets/img/acc/stage2_button_hover.jpg) no-repeat;
}
#accordion .active #acc3 {
	background:#f05a28 url(assets/img/acc/stage3_button_hover.jpg) no-repeat;
}
#accordion .active #acc4 {
	background:#f05a28 url(assets/img/acc/stage4_button_hover.jpg) no-repeat;
}
#accordion .active #acc5 {
	background:#f05a28 url(assets/img/acc/stage5_button_hover.jpg) no-repeat;
}
 
#accordion li.active {
width: 450px;
}

#accordion li > h2 {
	border-bottom:0px;
	margin-top:0px;
	padding:0px;
}
#accordion .acc-img {
	margin:0px;

}

.gllr_single_image_text {
	color:#f05a28 !important;
	text-align: center;
}

#bws_gallery_image_title {
	color:#f05a28;
	font-size:1.6em;
}

.video { 
	position: relative;
	cursor: pointer;
}

.video span{
   position: absolute;
   display: block;
   background: url(assets/img/video_play_button.png) no-repeat;
   background-size: 40px 39px;
   height: 40px;
   width: 40px;
   top: 107px;
   left: 88px;
}

.carousel {
	margin-bottom:0px;
	
}
.carousel-inner {
	min-height:107px;
	margin: 0 20px;
}
.carousel-inner img{
	margin-top:7px;
}
.left-carousel-control {
	position: absolute;
	top: 0;
	left: 0;	
}

.right-carousel-control img{
	max-width:none;
}
.right-carousel-control {
	position: absolute;
	top: 0;
	left: 207px;
}

@-moz-document url-prefix() {
    .navbar-inverse {
        margin-top: 0px;
    }
    
    #search-btn {
    	background-color: #000000;
    	padding: 0 3px 3px 12px;
    	margin-left: -13px;
    }
}

.img-profile {
	max-width: 100%;
	width: 264px;
	/* height: 280px; */
	background-color: white;
	margin: 20px;
	padding: 0;
	box-shadow: 0 0 2px 2px #aaa;
	border: 1px solid #777;
}

.container-non-responsive {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 960px;
}

.video img {
	width:100%;
}

.matt-profile p {
	 text-align:left;	
}
.matt-profile img {
	width:180px;
	margin:5px 15px 5px 5px;
}

.twitter-widget {
	   margin-right: -20px;
}
.twitter-widget ul > li {
	background-color: #fff !important;
	border-bottom:1px dotted #f05a28;
	padding-bottom:10px;
}
.twitter-widget ul > li:last-child {
	border-bottom:0px dotted #f05a28;
}
.twitter-widget .panel-body{
	overflow-y: auto;
	max-height: 500px;
	padding: 15px 20px;
}


.img-portraits img {
	width:195px;
}

.contactform input, select, textarea{
    color: #006c8c;
}
.contactform #submit {
	width: 120px;
	border-radius: 11px;
	padding: 10px 0;
	background: white url(assets/img/nav_bar_orange.jpg) repeat-x;
	border: 2px solid #aaa;
	color: white;
	font-weight: bolder;
}

.contactform #submit:hover {
	background: #006c8c url(assets/img/nav_bar_blue.jpg) repeat-x;
	border: 2px solid #aaa;
	color: #fff;
}

.contactform p label > small{
	color: #f05a28;
	font-weight: normal;
	font-size: 15px;
	font-family:GothamBold;
}

.error *{
	color: red;
}
.ok *{
	color: green;
}

strong b{
	color:#f05a28;
	font-style: oblique;
}
strong {
	color:#f05a28;
}

.navbar-form {
margin-top: 4px;
}

#facts ol {
    list-style-position: inside;
    color: white;
}
#facts ol li {
	list-style-type: none;
    background-image: url(assets/img/bullet_point.png);
    background-repeat: no-repeat;
    background-position: 2px 6px;
    padding-left: 30px;
    background-size:20px;
    -moz-background-size:20px;
    line-height:2.4em;
}

.clients p strong {
	color: #333;	
	font-weight: normal;
}
.clients ul {
	margin:auto;
}

.clients ul li{
    list-style-type:none;	
    padding:20px 10px;
    margin:10px 0;
}

.clients ul li:nth-child(even){
	background-color: #e4f4fd;
    color: #333;
}​




/*		Application form 
 **************************************************/


#application-form {
	
}

#application-form ul > li{
	list-style-type:none;	
}	
#application-form .submit{
	width: 120px;
	border-radius: 11px;
	padding: 10px 0;
	background: white url(assets/img/nav_bar_orange.jpg) repeat-x;
	border: 2px solid #f05a28;
	color: #006c8c;
	font-weight: bolder;	
}
#application-form .submit:hover{
	background: #006c8c url(assets/img/nav_bar_blue.jpg) repeat-x; 
	border: 2px solid #006c8c;
	color: #fff;
}
#application-form #vfb-leaving-date-14{
	margin-bottom:30px;
}
#application-form #vfb-reason-for-leaving-20{
	height:70px;
}
#application-form .extra-margin{
	margin-top:50px;
}
#application-form label{
	color:#f05a28;
	#font-family:GothamBold;
}
#application-form label .error{
	color:#ff0000;
	font-family:GothamBold;
}
#application-form h3{
	font-family:GothamBold;
	font-size:16px;
}

#application-form textarea {
	height:150px;	
}
#application-form [class*="span"] {
	margin-left:0px;
}

#application-form  input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
}
.cvpanel {
	border: 1px solid #aaa;
	float: right;
	height: 193px;
	width:280px;
	top: 0px;
	left: 0px;
	z-index: 1;
}
.cvpanel > label {
	padding:15px;
}

.cvpanel input {
	max-width:250px;
}

.cvpanel > .legend > h3{
  color: #ffffff;
  background: #f05a28 url(assets/img/subheading_bar.jpg) repeat-x;
  border-color: #f05a28;
  border-bottom: 0px solid transparent;
  padding: 0px 15px;
  margin:0;	
  height:29px;
  font-size:18px;
  line-height:1.8em;
}

#application-form .error {
	font-family:GothamBold;
	border-color:red;
	color:red;
}

/* 		Carousel
*********************************************/
.carousel-inner .item{
	margin-bottom:0 !important;
}
.carousel-inner p{
	padding:5px 5px 0 5px; 
}
