
/**************************************************
 ************* 	LOAD FONT	*********************** 
 **************************************************/
 
 @font-face
{
font-family: Gotham;
src: url(assets/fonts/Gotham-Light.otf);
}
 @font-face
{
font-family: GothamBold;
src: url(assets/fonts/Gotham-Bold.ttf);
}

 
/**************************************************
 ************* 	MAIN MENU	*********************** 
 **************************************************/

#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
  font:GothamBold;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  min-width: 44px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 0 #333333;
}
#cssmenu ul {
  display: table; 
  width: 960px !important;
}
#cssmenu  ul  li {
  float: left;
  display: table-cell; 
}

#cssmenu  ul  li  a {
  box-shadow: inset 0 0 0 1px #f05a28;
  -moz-box-shadow: inset 0 0 0 1px  #f05a28;
  -webkit-box-shadow: inset 0 0 0 1px #f05a28;
  background: #f05a28 url(assets/img/nav_bar_orange.jpg) repeat-x left top;
  line-height: 44px;
  padding: 0 30px 0 30px;
  filter: none;
}

#cssmenu  ul  li.current-menu-item a {
  box-shadow: inset 0 0 0 1px #006c8c;
  -moz-box-shadow: inset 0 0 0 1px #006c8c;
  -webkit-box-shadow: inset 0 0 0 1px #006c8c;
  background: #006c8c url(assets/img/nav_bar_blue.jpg) repeat-x left bottom;
  #padding: 0 32px 0 33px;
}
#cssmenu  ul  li.current-menu-parent a {
  box-shadow: inset 0 0 0 1px #006c8c;
  -moz-box-shadow: inset 0 0 0 1px #006c8c;
  -webkit-box-shadow: inset 0 0 0 1px #006c8c;
  background: #006c8c url(assets/img/nav_bar_blue.jpg) repeat-x left bottom;
  #padding: 0 32px 0 33px;
}

#cssmenu  ul  li.current-menu-item a:hover {
  box-shadow: inset 0 0 0 1px #006c8c;
  -moz-box-shadow: inset 0 0 0 1px #006c8c;
  -webkit-box-shadow: inset 0 0 0 1px #006c8c;
   background: #006c8c url(assets/img/nav_bar_blue.jpg) repeat-x left bottom;
}
#cssmenu  ul  li a:hover {
	box-shadow: inset 0 0 0 1px #006c8c;
  -moz-box-shadow: inset 0 0 0 1px #006c8c;
  -webkit-box-shadow: inset 0 0 0 1px #006c8c;
  background: #006c8c url(assets/img/nav_bar_blue.jpg) repeat-x left bottom;
}
#cssmenu > ul > li:menu-item-has-children a {
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-left: 1px solid #5d5d5d;
}
#cssmenu .menu-item-has-children:hover ul {
  display: block;
  width: 250px;
}
#cssmenu .menu-item-has-children ul {
  display: none;
  position: absolute;
  top: 44px;
  left: -1px;
  min-width: 100%;
  text-align: center;
  /* IE7 */

  
}
#cssmenu .menu-item-has-children ul li {
  text-align: center;
}
#cssmenu .menu-item-has-children ul li a {
  border-top: 0 none;
  border-left: 1px solid #5d5d5d;
  display: block;
  line-height: 120%;
  padding: 14px 5px;
  text-align: center; 
  width: 180px;
}
#cssmenu .menu-item-has-children ul li a:hover {
  margin-top:0;	
  max-height:15px;
  text-align: center; 
  line-height: 120%;
  width: 180px;
}
#cssmenu  .current-menu-item ul li a {
  margin-top:0;	
  max-height:15px;
  text-align: center; 
  line-height: 120%;
  width: 182px;
}
#cssmenu .current-menu-parent .current-menu-item a {
  margin-top:0;	
  max-height:15px;
  text-align: center; 
  line-height: 120%;
  width: 182px;
}
#cssmenu .current-menu-parent .current-menu-item  a:hover {
  margin-top:0;	
  max-height:15px;
  text-align: center; 
  line-height: 120%;
  width: 182px;
}




html *
{
   color: #333;
   font-family: Gotham !important, Verdana, Tahoma;;
}

a {
	color: #f05a28;
}
a:hover {
	color: #00a9c8;
	text-decoration: none;
	cursor: auto;
}

.orange {
	color: #f05a28;
}
.white {
	color: #fff;
}

#mar-exp {
	font-size: 1.7em;
	font-weight: 200;
}
.lightblue {
	color: #00a9c8;
}

.darkblue {
	color: #006c8c;
}

.w960 {
	max-width:960px !important;
	min-width:960px !important;
	margin:auto;
}

.navbar-inverse .container{
	padding-right: 20px;
	font-size: 4em;
}
.navbar-inverse {
	background-color: #101010;
	border-color: #080808;
	max-height:35px;
	max-width: 960px;
	margin: auto;
#	margin-top:-32px;
}

.navbar-inverse .nav > li  {
	padding:3px 0;
}
.navbar-inverse .nav > li > a {
	border-right: 1px dotted #777;
	font-size: .2em !important;
	padding:3px 8px;
}
.navbar-form input {
	margin-top: 0px;
	border-radius: 0px;
}

@media only screen 
and (min-device-width : 480px) {
	.search-form-input {
		max-height: 10px;
	}
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	/* Styles */
	.search-form-input {
		max-height: 10px !important;
	}
}

#search-btn {
	background-image: url(assets/img/searchbutton.jpg);
	background-repeat:no-repeat;
	border: none;
	padding: 0px 3px 0px 12px;
	margin-left: -16px;
}

.header {
	margin: 0 0 90px 0;
	padding:10px 15px;
	display:block;
	position:relative;
}

.nava {
	margin: 0 0 0 -25px;
}	
	
.nava ul {
   display: table; 
   margin: 0 0 0 21px;
}	

.nava > ul > li {
   padding: 12px 24px;
   background-image:url(assets/img/nav_bar_orange.jpg);
   background-repeat:repeat-x;
   border: 1px solid #f05a28;
}

.nava > ul > li:hover{
   background-image:url(assets/img/nav_bar_blue.jpg)
}

.nava ul > li > a {
	color: white;
}
	
.navbar ul > li {
 display: inline;
  
}

.logo {
	background-image:url(assets/img/logo/tc_world_logo_80px.png);
	background-repeat: no-repeat;
	width: 250px;
	height: 80px;
	display:block;
  	text-indent:-9999px;
}
.head-contact {
	float:right;
	padding-right:20px;
}

.head-contact h1{
	font-size:24px;
}
.phone {
	float:right;
	font-size:1.4em;
}


.banner {
	height:260px; 
	background-image:url(assets/img/banner.jpg); 
	background-size:contain;
	margin-bottom: 20px;
}

#banner-text {
	background-color: rgb(0, 0, 0); 
	background-color: rgba(0, 0, 0, .8); 
	width:340px; 
	height:100%; 
	float:right;
	color:#fff;
	text-align: right;
	background-image:url(assets/img/quotemarks.png);
	background-repeat:no-repeat;
	background-position:left top;
	-moz-opacity: 0.80;
	opacity:.80;
	filter: alpha(opacity=80);
}

.navbar {
	margin-bottom:0px;
}
#banner-text h3{
	color: #FFF;
	font-weight: 500;
	font-size: 31px !important;
	margin: 20px 20px 0 0;
	line-height: 1.4;
}

#banner-text p > i{
	color:#fff;
	margin: 20px;
	font-weight: 200;
	font-size: 18px !important;
	margin-bottom:20px;
}

.blue-btn {
	background-image:url(assets/img/applynowbutton1.jpg);
	background-repeat:repeat-x;
	padding:9px;
	margin:20px 0 0 0;
	color:#fff;
	cursor: pointer !important;
}

.apply-btn {
	margin-right:90px;
}
/*
footer {
	background:url(assets/img/footer_translogo.png), url(assets/img/footer_gradient.jpg) ;
	background-position: right top, right top;
	background-repeat: no-repeat, repeat-x;
	padding: 17px 20px 20px 20px;
	color:#fff;
}
*/
footer {
	background:url(assets/img/footer_gradient.jpg) ;
	background-position:  right top;
	background-repeat: repeat-x;
}

footer .footer{
	background:url(assets/img/footer_translogo.png) ;
	background-position: right top;
	background-repeat: no-repeat;
	padding: 17px 20px 20px 30px;
	color:#fff;
}

footer .icon {
	background-repeat: no-repeat;
	display: inline-block;
	text-indent: -9999px;
	width:41px;
	height:40px;
}

.header .icon {
	background-repeat: no-repeat;
	display: inline-block;
	text-indent: -9999px;
	width:26px;
}

.telephone-icon {
	background-image: url(assets/img/telephone.png);
	background-size: 1em;
}
footer .fb {
	background-image: url(assets/img/social_icons/facebook_1.png);
}
footer .tw {
	background-image: url(assets/img/social_icons/twitter_1.png);
}
footer .in {
	background-image: url(assets/img/social_icons/linkedin_1.png);
}
footer .fb:hover {
	background-image: url(assets/img/social_icons/facebook_2.png);
}
footer .tw:hover {
	background-image: url(assets/img/social_icons/twitter_2.png);
}
footer .in:hover {
	background-image: url(assets/img/social_icons/linkedin_2.png);
}

footer .middle  > h4 {
	margin-bottom: 20px;	
}
footer .middle {
 	border-right: 1px dotted white; 
	border-left: 1px dotted white;
	padding: 0 30px;
	min-width: 280px;
}
footer h4 {
	font-size: 16px !important;
	font-weight: normal;
}
footer p {
	font-size: 12px !important;
}

footer .copyright {
	margin: 60px 0 0 0;
	font-size: 12px !important;
}

.contactform input {
	width:100%
}
.contactform textarea {
	width:100%
}

.contactform label {
	color: #f054a28;
}

#gallery-1 {
	display:none !important;
}


#menuarea {
height:44px;
background-color:#F0F0F0;
background:url('assets/img/nav_bar_orange.jpg') repeat-x;
}

.menu {
width:73.84em;
white-space:nowrap;
list-style-type:none;
margin:0 auto;
padding:0px 0 0;
}

.menu li {
display: inline;
float:left;
font-size: 1em;
text-align: center;
line-height: 29px;
}

.menu a {
position:relative;
display:block;
text-decoration:none;
float:left;
}

.menu a {
display:block;
color:#fff;
text-align:center;
cursor:pointer;
padding:9px 15px 6px 15px
}

* html .menu a  {
cursor:hand;
width:66px;
}

.menu a em {
display:none;
}

.menu a:hover {
color:#fff;
background:url('assets/img/nav_bar_orange.jpg') repeat-x;
background-position:0 0;
}

.menu .current-menu-item a {
color:#fff;
background:url('assets/img/nav_bar_blue.jpg') repeat-x;
height:44px;
}

.menu a:hover ,.menu .current {
background:url('assets/img/nav_bar_blue.jpg') repeat-x;
height:44px;
}
.ktweet .img{
	float: left;
	padding: 20px;
}

.ktweet .ktbody{
	margin-top: 16px;
}
.kcontainer  {
	margin: -29px 0 0 0;
}
.kcontainer ul {
	list-style-type: none;
}
.kcontainer ul li{
	margin-top:20px;
}

.lightblue-bgd {
	background-color: #e4f4fd;
}

h2 {
	color: #f05a28;
	font-weight:normal;
	font-size:24px;
	border-bottom: 2px dotted #f05a28;
}


#accordion {
list-style: none;
margin: 20px 0;
padding: 0;
height: 300px;
overflow: hidden;
background: #fff;
}
 
#accordion li {
float: left;
display: block;
height: 470px;
width: 80px;
padding: 15px 0;
overflow: hidden;
color: #fff;
text-decoration: none;
line-height: 1.5em;
border-left: 1px solid #fff;}
 
#accordion li img {
border: none;
border-right: 1px solid #fff;
float: left;
margin: -15px 15px 0 0;
}
 
#accordion li.active {
width: 450px;
}

#accordion li > h2 {
	border-bottom:0px;
	margin-top:0px;
	padding:0px;
}
#accordion .acc-img {
	margin:0px;

}

.gllr_single_image_text {
	color:#f05a28 !important;
	padding:0 0 10px 20px;
}

#bws_gallery_image_title {
	color:#f05a28;
	font-size:1.6em;
}

.video { position: relative; }

.video a{
   position: absolute;
   display: block;
   background: url(assets/img/video_play_button.png);
   height: 40px;
   width: 40px;
   top: 107px;
   left: 88px;
}

.carousel {
	margin-bottom:0px;
	
}
.carousel-inner {
	min-height:107px;
	margin: 0 20px;
}
.carousel-inner img{
	margin-top:7px;
}
.left-carousel-control {
	position: absolute;
	top: 0;
	left: 0;	
}

.right-carousel-control img{
	max-width:none;
}
.right-carousel-control {
	position: absolute;
	top: 0;
	left: 207px;
}


@-moz-document url-prefix() {
    .navbar-inverse {
        margin-top: 0px;
    }
    
    #search-btn {
    	padding: 0 3px 5px 12px;
    	margin-left: -13px;
    }
}

.img-profile {
	max-width: 100%;
	width: 264px;
	/* height: 280px; */
	background-color: white;
	margin: 20px;
	padding: 0;
}

.container-non-responsive {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 960px;
}

.video img {
	width:100%;
}